week5_2_server/resources/NoteServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://calcws/" name="NoteServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://calcws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://calcws/" schemaLocation="NoteServiceService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getNotes">
    <part name="parameters" element="tns:getNotes"/>
  </message>
  <message name="getNotesResponse">
    <part name="parameters" element="tns:getNotesResponse"/>
  </message>
  <message name="removeNote">
    <part name="parameters" element="tns:removeNote"/>
  </message>
  <message name="removeNoteResponse">
    <part name="parameters" element="tns:removeNoteResponse"/>
  </message>
  <message name="addNote">
    <part name="parameters" element="tns:addNote"/>
  </message>
  <message name="addNoteResponse">
    <part name="parameters" element="tns:addNoteResponse"/>
  </message>
  <portType name="NoteService">
    <operation name="getNotes">
      <input wsam:Action="http://calcws/NoteService/getNotesRequest" message="tns:getNotes"/>
      <output wsam:Action="http://calcws/NoteService/getNotesResponse" message="tns:getNotesResponse"/>
    </operation>
    <operation name="removeNote">
      <input wsam:Action="http://calcws/NoteService/removeNoteRequest" message="tns:removeNote"/>
      <output wsam:Action="http://calcws/NoteService/removeNoteResponse" message="tns:removeNoteResponse"/>
    </operation>
    <operation name="addNote">
      <input wsam:Action="http://calcws/NoteService/addNoteRequest" message="tns:addNote"/>
      <output wsam:Action="http://calcws/NoteService/addNoteResponse" message="tns:addNoteResponse"/>
    </operation>
  </portType>
  <binding name="NoteServicePortBinding" type="tns:NoteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getNotes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="removeNote">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addNote">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NoteServiceService">
    <port name="NoteServicePort" binding="tns:NoteServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

